<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<link rel="stylesheet" href="../../css/styles_deleteuserbyid.css">

    <body>
        <div class="grid">
            <%- include('partials/navbar') %>
            <div class="banner">
                <h1>Delete User</h1>
            </div>
                <div class="content_section">
                    <form action="deleteuser" method="post">
                        <fieldset>
                        
                            <p>
                                <label for="Selection">Select User</label>
                                <select id="_id" name="_id">
                                    <%users.forEach(function(obj){ %>
                                        <option value="<%=obj._id%>" </option>
                                            <%=obj.userforename%>
                                            <%=obj.usersurname%>
                                    <%})%>
                                </select>
                            </p>
                            </p>
                            
                        </fieldset>
                        <input type="submit" id="delete-button" value="Delete">
                        <input type="button" id="cancel-button2" value="Cancel" onclick="window.location.href='/users/userhome'">
                    </form>
                </div>
            <div class="footer_section"></div>
        </div>
    </body>
</html>
