<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observer Details</title>
    <link rel="stylesheet" href="../../css/styles.css">
</head>
<body>
    <body>
        <div class="grid">
            <div class="banner">
                <h1>Details</h1>
            </div>
            <%- include('partials/navbar_observer') %>
                <div class="content_section">
                    <fieldset>
                        
                        <table>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Forename</th>
                                <th>Surname</th>
                                <th>Mobile Number</th>
                                <th>Address</th>
                                <th>Country</th>
                                <th>Date of Birth</th>
                                <th>Number of Accounts</th>
                                <th>Category</th>
                                <th>Account Status</th>
                                <th>Account Balance</th>
                                <th>Card Type</th>
                                <th>Card Number</th>
                                <th>CVV</th>
                                <th>Notification Preference (Email/Text)</th>
                            </tr> 
                            <tr>
                                <td>
                                    <%=user._id%>
                                </td>
                                <td>
                                    <%=user.email%>
                                </td>
                                <td>
                                    <%=user.userforename%>
                                </td>
                                <td>
                                    <%=user.usersurname%>
                                </td>
                                <td>
                                    <%=user.mobileNumber%>
                                </td>
                                <td>
                                    <%=user.address%>
                                </td>
                                <td>
                                    <%=user.country%>
                                </td>
                                <td>
                                    <%=user.userDOB.toLocaleDateString()%>
                                </td>
                                <td>
                                    <%=user.userAccounts%>
                                </td>
                                <td>
                                    <%=user.category%>
                                </td>
                                <td>
                                    <%=user.accountStatus%>
                                </td>
                                <td>
                                    <% if (user.accountBalance !== 0 && user.accountBalance !== null) { %>
                                        <%= new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(user.accountBalance) %>
                                    <% } %>
                                    <!-- <%= new Intl.NumberFormat('en-GB', { style: 'currency', currency: 'GBP' }).format(user.accountBalance) %> <%=user.accountBalance%> -->
                                </td>
                                <td>
                                    <%=user.cardType%>
                                </td>
                                <td>
                                    <%=user.cardnumber%>
                                </td>
                                <td>
                                    <%=user.cvv%>
                                </td>
                                <td>
                                    <%=user.notificationPreference%>
                                </td>
                            </tr>
                        </table>
                        
                    </fieldset>
                    <input type="button" id="back-button" value="Back" onclick="window.location.href='/observer/observer_menu'">
                </div>


            <div class="footer_section"></div>
        </div>
    </body>
</body>
</html>